# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.

Some of the commonly used libraries by Data Scientists include:
1. Scientific computing libraries (e.x: Pandas, NeomPy.)
2. Data visualization libraries (e.x: Matplotlib, Seaborn)
3. Machine/Deep learning libraries (e.x: Scikit-learn, Keras) etc.

|Data science tools|
|------------------|
|Apache Airflow|
|Apache superset|
|IBM AI fairness 360|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [1]:
x = 200
y = 60
print (x/y)

[1] 3.333333

**Objectives covered in this notebook:**

* Creating markdown cells.
* Different styles/types of titles.
* Creating ordered style lists.
* Creating unordered style lists.
* Creating a columned table.
* Different styles of headings.
* Taking screenshots.
* Using arythmetic expressions.
* Saving the notebook.
* Uploading the notebook on Github.

## Author

Aqeel Faisal